<div class="d-flex justify-content-center align-items-center vh-100" style="width: 80%;">
  <div class="container" style="margin-top: -15%;">
    <h4>Records</h4>
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="students-tab" data-bs-toggle="tab" data-bs-target="#students" type="button" role="tab" aria-controls="students" aria-selected="true">Students</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="instructors-tab" data-bs-toggle="tab" data-bs-target="#instructors" type="button" role="tab" aria-controls="instructors" aria-selected="false">Instructors</button>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-3" id="myTabContent">
      <!-- Students Tab -->
      <div class="tab-pane fade show active" id="students" role="tabpanel" aria-labelledby="students-tab">
        <h5>Students Records</h5>
        <select name="select_school" id="select_school" class="form-select mb-3">
          <option value="">Select School</option>
          <% schools.forEach(school => { %> 
            <option value="<%= school.school_id %>"><%= school.school_name %></option>
          <% }) %>
        </select>
        <div class="search mb-2" style="width: 50%;">
          <input class="search_input" type="text" id="student_search" placeholder="Search (Ctrl + '/' to focus)">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
        </div>

        <table class="table align-middle mb-0 bg-white" id="student_table">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Username</th>
              <th>Class</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="student_body">
            <% students.forEach((user, index) => { 
              const nameSlug = user.fullName.toLowerCase().replace(/\s+/g, '-').replace(/[^\w\-]/g, ''); 
            %>
              <tr class="student_row">
                <td><%= index + 1 %></td>
                <td>
                  <div class="d-flex align-items-center">
                    <% if (user.profile_picture && user.profile_picture.length === 2) { %>
                      <div class="initials-avatar rounded-circle bg-secondary text-white d-flex justify-content-center align-items-center" style="width: 45px; height: 45px; font-weight: bold;">
                        <%= user.profile_picture %>
                      </div>
                    <% } else { %>
                      <img src="data:image/jpeg;base64,<%= user.profile_picture %>" alt="Profile Picture" style="width: 45px; height: 45px" class="rounded-circle" />
                    <% } %>
                    <div class="ms-3">
                      <a href="/user/<%= nameSlug %>">
                        <p class="fw-bold mb-1" style="color: #414040;"><%= user.fullName %></p>
                      </a>
                      <p class="text-muted mb-0"><%= user.email ? user.email : 'No email available' %></p>
                    </div>
                  </div>
                </td>
                <td><%= user.username %></td>
                <td><%= user.class_name %></td>
                <td><%= user.phone %></td>
                <td>
                  <button class="btn btn-link btn-sm">
                    <i class="fa fa-pen"></i> &nbsp;
                    <span class="text-danger"><i class="fa fa-trash"></i></span>
                  </button>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        
      </div>

      <!-- Instructors Tab -->
      <div class="tab-pane fade" id="instructors" role="tabpanel" aria-labelledby="instructors-tab">
        <h5>Instructors Records</h5>
        <select name="select_school" id="select_school" class="form-select mb-3">
          <option value="">Select School</option>
          <% schools.forEach(school => { %> 
            <option value="<%= school.school_id %>"><%= school.school_name %></option>
          <% }) %>
        </select>
        <div class="search mb-2" style="width: 50%;">
          <input class="search_input" type="text" id="instructor_search" placeholder="Search (Ctrl + '/' to focus)">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
        </div>
        <table class="table align-middle mb-0 bg-white" id="instructor_table">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Role</th>
              <th>Position</th>
              <th>Status</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="instructor_body">
            <% instructors.forEach((user, index) => { 
              const nameSlug = user.fullName.toLowerCase().replace(/\s+/g, '-').replace(/[^\w\-]/g, ''); 
              %>

              <tr class="instructor_row">
                <td><%= index + 1 %></td>
                <td>
                  <div class="d-flex align-items-center">
                    <% if (user.profile_picture && user.profile_picture.length === 2) { %>
                      <div class="initials-avatar rounded-circle bg-secondary text-white d-flex justify-content-center align-items-center" style="width: 45px; height: 45px; font-weight: bold;">
                        <%= user.profile_picture %>
                      </div>
                    <% } else { %>
                      <img src="data:image/jpeg;base64,<%= user.profile_picture %>" alt="Profile Picture" style="width: 45px; height: 45px" class="rounded-circle" />
                    <% } %>
                    <div class="ms-3">
                      <a href="/user/<%= nameSlug %>" >
                        <p class="fw-bold mb-1"><%= user.fullName %></p>
                      </a>                      <p class="text-muted mb-0"><%= user.email ? user.email : 'No email available' %></p>
                    </div>
                  </div>
                </td>
                <td><%= user.user_role %></td>
                <td><%= user.user_position %></td>
                <td><span class="badge" style="background-color: #5aaac5;">Active</span></td>
                <td><%= user.phone %></td>
                <td>
                  <button class="btn btn-link btn-sm">
                    <i class="fa fa-pen"></i> &nbsp;
                    <span class="text-danger"><i class="fa fa-trash"></i></span>
                  </button>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  // Filtering functionality for students
  document.getElementById("student_search").addEventListener("input", function() {
    if (document.querySelector('#students-tab').classList.contains('active')) {
      const searchTerm = this.value.toLowerCase();
      const studentRows = document.querySelectorAll("#student_table .student_row");

      studentRows.forEach(function(row) {
        const name = row.querySelector("td:nth-child(2)").textContent.toLowerCase();
        const username = row.querySelector("td:nth-child(3)").textContent.toLowerCase();
        const className = row.querySelector("td:nth-child(4)").textContent.toLowerCase();
        
        if (name.includes(searchTerm) || username.includes(searchTerm) || className.includes(searchTerm)) {
          row.style.display = ""; 
        } else {
          row.style.display = "none"; 
        }
      });
    }
  });

  // Filtering functionality for instructors
  document.getElementById("instructor_search").addEventListener("input", function() {
    if (document.querySelector('#instructors-tab').classList.contains('active')) {
      const searchTerm = this.value.toLowerCase();
      const instructorRows = document.querySelectorAll("#instructor_table .instructor_row");

      instructorRows.forEach(function(row) {
        const name = row.querySelector("td:nth-child(2)").textContent.toLowerCase();
        const department = row.querySelector("td:nth-child(3)").textContent.toLowerCase();

        if (name.includes(searchTerm) || department.includes(searchTerm)) {
          row.style.display = ""; 
        } else {
          row.style.display = "none"; 
        }
      });
    }
  });
  
  // Select school data handling
  document.getElementById("select_school").addEventListener("change", function() {
    const schoolId = this.value;
    if (schoolId) {
      window.location.href = `/dashboard?school_id=${schoolId}`;
    } else {
      window.location.href = '/dashboard';
    }
  });
</script>
