<div class="d-flex justify-content-center align-items-center vh-100" style="width: 80%;">
  <div class="container" style="margin-top: -15%;">
    <h4>Records</h4>
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="students-tab" data-bs-toggle="tab" data-bs-target="#students" type="button" role="tab" aria-controls="students" aria-selected="true">Students</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="instructors-tab" data-bs-toggle="tab" data-bs-target="#instructors" type="button" role="tab" aria-controls="instructors" aria-selected="false">Instructors</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="administrators-tab" data-bs-toggle="tab" data-bs-target="#administrators" type="button" role="tab" aria-controls="administrators" aria-selected="false">Administrators</button>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content mt-3" id="myTabContent">
      <!-- Students Tab -->
      <div class="tab-pane fade show active" id="students" role="tabpanel" aria-labelledby="students-tab">
        <div class="records_container">
          <h5>Students Records</h5>
          <select name="select_school" id="select_school" class="form-select mb-3">
            <% schools.forEach(school => { %> 
              <option value="<%= school.school_id %>"><%= school.school_name %></option>
              <% }) %>
          </select>
          <div class="search mb-2" style="width: 50%;">
            <input class="search_input" type="text" id="search" placeholder="Search (Ctrl + '/' to focus)">
            <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
          </div>

          <!-- 'All' Checkbox -->
          <span>All</span> <input type="checkbox" id="checkAllStudents" />

          <!-- Students Table -->
          <table class="table align-middle mb-0 bg-white">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>ID</th>
                <th>Class & Type</th>
                <th>Status</th>
                <th>Phone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" class="student-checkbox" /></td>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">John Doe</p>
                      <p class="text-muted mb-0">john.doe@gmail.com</p>
                    </div>
                  </div>
                </td>
                <td>rass12484</td>
                <td>Grade 12 - Science</td>
                <td><span class="badge bg-success">Active</span></td>
                <td>0771894241</td>
                <td><button class="btn btn-link btn-sm">
                  <span>
                    <i class="fa fa-pen"></i>
                   </span> &nbsp;
                   <span class="delete_btn" style="color: red; cursor: pointer;"><i class="fa fa-trash"></i></span>
                  </button>
                </td>
              </tr>
              <!-- More student rows here -->
            </tbody>
          </table>
        </div>
      </div>

      <!-- Instructors Tab -->
      <div class="tab-pane fade" id="instructors" role="tabpanel" aria-labelledby="instructors-tab">
        <div class="records_container">
          <h5>Instructors Records</h5>
          <select name="select_school" id="select_school_instructors" class="form-select mb-3">
           <% schools.forEach(school => { %> 
            <option value="<%= school.school_id %>"><%= school.school_name %></option>
            <% }) %>
          </select>
          <div class="search mb-2" style="width: 50%;">
            <input class="search_input" type="text" id="teacher_search" placeholder="Search (Ctrl + '/' to focus)">
            <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
          </div>

          <!-- 'All' Checkbox -->
          <span>All</span> <input type="checkbox" id="checkAllInstructors" />

          <!-- Instructors Table -->
          <table class="table align-middle mb-0 bg-white">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Department</th>
                <th>Status</th>
                <th>Phone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" class="instructor-checkbox" /></td>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt="" style="width: 45px; height: 45px" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">Jannie White</p>
                      <p class="text-muted mb-0">jennie.white@gmail.com</p>
                    </div>
                  </div>
                </td>
                <td>Mathematics</td>
                <td><span class="badge bg-success">Active</span></td>
                <td>0880822436</td>
                <td><button class="btn btn-link btn-sm">
                  <span>
                    <i class="fa fa-pen"></i>
                   </span> &nbsp;
                   <span class="instructor_delete_btn" style="color: red; cursor: pointer;"><i class="fa fa-trash"></i></span>
                  </button>
                </td>              
              </tr>
              <!-- More instructor rows here -->
            </tbody>
          </table>
        </div>
      </div>

      <!-- Administrators Tab -->
      <div class="tab-pane fade" id="administrators" role="tabpanel" aria-labelledby="administrators-tab">
        <div class="records_container">
          <h5>Administrators Records</h5>
          <select name="select_school" id="select_school_administrators" class="form-select mb-3">
            <% schools.forEach(school => { %> 
              <option value="<%= school.school_id %>"><%= school.school_name %></option>
              <% }) %>
          </select>
          <div class="search mb-2" style="width: 50%;">
            <input class="search_input" type="text" id="administrator_search" placeholder="Search (Ctrl + '/' to focus)">
            <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
          </div>

          <!-- 'All' Checkbox -->
          <span>All</span> <input type="checkbox" id="checkAllAdministrators" />

          <!-- Administrators Table -->
          <table class="table align-middle mb-0 bg-white">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
                <th>Status</th>
                <th>Phone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="checkbox" class="administrator-checkbox" /></td>
                <td>
                  <div class="d-flex align-items-center">
                    <img src="https://mdbootstrap.com/img/new/avatars/7.jpg" class="rounded-circle" alt="" style="width: 45px; height: 45px" />
                    <div class="ms-3">
                      <p class="fw-bold mb-1">Robert Brown</p>
                      <p class="text-muted mb-0">robert.brown@gmail.com</p>
                    </div>
                  </div>
                </td>
                <td>Principal</td>
                <td><span class="badge bg-success">Active</span></td>
                <td>0775686203</td>
                <td><button class="btn btn-link btn-sm">
                  <span>
                    <i class="fa fa-pen"></i>
                   </span> &nbsp;
                   <span class="administrator_delete_btn" style="color: red; cursor: pointer;"><i class="fa fa-trash"></i></span>
                  </button>
                </td>              
              </tr>
              <!-- More administrator rows here -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
