<!--Main Navigation-->
<style>
  .initials-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f94b8e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
</style>
<header>
 <!-- Sidebar -->
   <!-- Sidebar -->
   <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-light mt-2" style="overflow-y: scroll;">
     <div class="position-sticky">
       <div class="list-group list-group-flush mx-3 mt-4">
        <img src="/images/BrainWave-logo.png" alt="logo" style="margin-top: -4pc;">
        <a href="/dashboard" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true" style="margin-top: -2.8pc;">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
        </a>
        <a href="/student-registration" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-user-graduate fa-fw me-3"></i><span>Students</span>
        </a>
        <a href="/registration" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chalkboard-teacher fa-fw me-3"></i><span>Instructor</span>
        </a>
        
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-book fa-fw me-3"></i><span>Subjects</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-graduation-cap fa-fw me-3"></i><span>Grades</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-calendar-check fa-fw me-3"></i><span>Attendance</span>
        </a>
        <a href="/role-registration" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-user-tag fa-fw me-3"></i><span>Role</span>
        </a>
        <a href="/position-registration" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-briefcase fa-fw me-3"></i><span>Position </span>
        </a>
        <a href="/school-registration" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-home fa-fw me-3"></i><span>School </span>
        </a>

        <a href="/sponsor-registration" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-user fa-fw me-3"></i><span>Sponsor</span>
        </a>

        <a href="/class-registration" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-home fa-fw me-3"></i><span>Class</span>
        </a>

        <a href="/create-notice" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-file fa-fw me-3"></i><span>Notice</span>
        </a>
        <a href="/create-period" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-clock fa-fw me-3"></i><span>Period</span>
        </a>
        
        <a href="/request-transcript" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-file-alt fa-fw me-3"></i><span>Transcript</span>
        </a>
       
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

 <!-- Navbar -->
 <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm" style="padding: 0;">
   <div class="container-fluid">
     <!-- Toggle button -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
       <i class="fas fa-bars"></i>
      </button>
      
     <!-- Brand -->
     <a class="navbar-brand" href="/" style="padding: 0.5rem;">       
       <h4 style="letter-spacing: 5px;font-size: 1.5rem;color: #d8363a;font-weight: bold;">BWSMS</h4>
      </a>
      
      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->
        <li class="nav-item">
          <a class="nav-link me-3 me-lg-0" style="margin-top: 5px; font-size: 1.2rem;" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bell"></i>
            <span class="badge rounded-pill bg-danger">1</span>
          </a>
          
        </li>
        
        
        
       <!-- Icon -->
       <li class="nav-item">
         <a class="nav-link" href="#" style="margin-top: 5px; font-size: 1.2rem;">
           <i class="fa fa-comment"></i>
         </a>
       </li>

      
       
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% if (students.profile_picture.length === 2) { %>
            <div class="initials-avatar">
                <%= students.profile_picture %>
            </div>
        <% } else { %>
            <img src="data:image/png;base64,<%= students.profile_picture.toString('base64') %>" alt="Profile Picture" width="100" height="100">
        <% } %>
            
         </a>
         <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
           <div class="profile_info" style="text-align: center;">
            <% if (students.profile_picture.length === 2) { %>
              <div class="initials-avatar" style="margin: 0 auto;">
                  <%= students.profile_picture %>
              </div>
          <% } else { %>
              <img src="data:image/png;base64,<%= students.profile_picture.toString('base64') %>" alt="Profile Picture" width="100" height="100">
          <% } %>           
          <h6><%= studentID.studentID %> </h6>
          </div>
           <li><a class="dropdown-item" href="#"><i class="fas fa-user"></i>
           </i> My profile</a></li>
           <li><a class="dropdown-item" href="#"> <i class="fas fa-cogs fa-fw"></i>
           </i> Settings</a></li>
           <li><a class="dropdown-item" href="#">Logout</a></li>
         </ul>
       </li>
     </ul>
   </div>
   <!-- Container wrapper -->
 </nav>
 <!-- Navbar -->
</header>
<!--Main Navigation-->


