<%- include('layouts/header')%>
<link rel="stylesheet" href="/css/dashboard.css" />


</head>

<body>
 
 <header>
  <%- include('layouts/sidebar')%>
 </header>

<main style="margin-top: 58px;">

 <div class="container pt-5">
   <nav aria-label="breadcrumb" class="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
       <a href="/">Home</a>
      </li> 
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>

   <h1>My Dashboard</h1>

   <div class="feed shadow-sm" style="text-align: center;">
   
    <!-- Card 1: Level -->
    <div class="card">
      <!-- <i class="fa fa-flask"></i>  -->
      <h5 style="font-size: 15px;">Division</h5>
      <h4 style="text-transform: capitalize;"> <%= students.division %></h4>
    </div>

    <div class="card">
      <!-- <i class="fa fa-graduation-cap"></i>  -->
      <h5 style="font-size: 15px;">Level</h5>
      <% if (juniorClassName) { %>
        <h5><%= juniorClassName.junior_class_name %></h5>
      <% } else if (seniorClassName) { %>
        <h5><%= seniorClassName.senior_class_name %></h5>
      <% } else { %>
        <p>No class</p>
      <% } %>
    </div>
  
    
    <div class="card">
     <!-- <i class="fas fa-book fa-fw"></i>  -->
      <h5 style="font-size: 15px;">Role</h5>
      <h4><%= students.role %></h4>
    </div>
    <div class="card">
     <!-- <i class="fa fa-dumbbell" style="font-size: 40px; color: #FF6A88;"></i> Updated icon for strength -->
     <h5 style="font-size: 15px;">Sponsor</h5>
   
     <div class="progress-circle">
       <h4 class="progress-text">Mr. James Brown</h4>
     </div>
   </div>
   
  </div>
  
  <!-- ADMIN PART -->
   <div class="feed shadow-sm" style="text-align: center;display: none;">
    <!-- Card 1: Level -->
    <div class="card">
      <i class="fa fa-graduation-cap"></i> 
      <h5 style="font-size: 15px;">Total Student</h5>
      <h4>1000</h4>
    </div>
  
    <!-- Card 2: Student Type -->
    <div class="card">
     <i class="fas fa-chalkboard-teacher fa-fw"></i>
      <h5 style="font-size: 15px;">Total Instructor</h5>
      <h4>60</h4>
    </div>
  
    <!-- Card 3: Total Subjects -->
    <div class="card">
     <i class="fas fa-book fa-fw"></i> 
      <h5 style="font-size: 15px;">Total Subjects</h5>
      <h4>25</h4>
    </div>
    <div class="card">
     <i class="fas fa-user fa-fw"></i> 
      <h5 style="font-size: 15px;">Total Administrator</h5>
      <h4>25</h4>
    </div>
   
   
   </div>
   
  </div>
  
  <div class="accordion accordion-flush" id="accordionFlushExample" style="width: 70%;margin-top: 10px;margin-left: 12px;">
   <div class="accordion-item">
     <h2 class="accordion-header" id="flush-headingOne">
       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
         <h4>Activities</h4>
       </button>
     </h2>
     <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
       <div class="accordion-body">
        <p>No Activity at this moment</p>
       </div>
     </div>
   </div>
 </div>

 <!-- VISUAL REPRESENTATIONAL OF STUDENT'S GRADES -->
 <div class="select_items">
  <select class="form-select" name="period" id="period" style="width: 25%">
   <option value="" disabled>Select Period</option>
  <option value="1st pd">1st Period</option>
  <option value="2nd pd">2nd Period</option>
  <option value="3rd pd">3rd Period</option>
  <option value="1st-sem-exam">1st Sem. Exam</option>
  <option value="4th pd">4th Period</option>
  <option value="5th pd">5th Period</option>
  <option value="6th pd">6th Period</option>
  <option value="2nd-sem-exam">2nd Sem. Exam</option>
</select>

<select class="form-select" name="period" id="period" style="width: 25%">
 <option> ~~ Select Subject ~~</option>
 <option value="geography">Geography</option>
 <option value="history">History</option>
</select>
<i class="fas fa-filter ms-2 mt-2" style="cursor: pointer; font-size: 1.5rem;color: #FF6A88;" title="Apply Filter"></i>
</div>


<div class="charts">
 <div class="shadow-sm" id="columnchart_grades" style="width: 600px; height: 500px;"></div>
 <div class="shadow-sm" id="piechart" style="width: 900px; height: 500px;"></div>
</div>
<!-- VISUAL REPRESENTATIONAL OF STUDENT'S GRADES ENDS-->
 <br>
 
 <!-- ============== ADMIN AND ADMINISTRACTOR CHARTS -->
<div class="select_items_moderator">
 <select class="form-select" name="period" id="period" style="width: 25%">
  <option value="" disabled>Select Period</option>
  <option value="1st pd">1st Period</option>
  <option value="2nd pd">2nd Period</option>
  <option value="3rd pd">3rd Period</option>
  <option value="1st-sem-exam">1st Sem. Exam</option>
  <option value="4th pd">4th Period</option>
  <option value="5th pd">5th Period</option>
  <option value="6th pd">6th Period</option>
  <option value="2nd-sem-exam">2nd Sem. Exam</option>
</select>

<select class="form-select" name="period" id="period" style="width: 25%">
 <option> ~~ Select Subject ~~</option>
 <option value="geography">Geography</option>
 <option value="history">History</option>
</select>
<i class="fas fa-filter ms-2 mt-2" style="cursor: pointer; font-size: 1.5rem;color: #FF6A88;" title="Apply Filter"></i>

</div>

<div class="moderator">
 <div id="columnchart_performance" style="width: 750px; height: 500px;" class="shadow-sm"></div>
 <div id="piechart_performance" style="width: 900px; height: 500px;" class="shadow-sm"></div>
</div>
<!-- ============== ADMIN AND ADMINISTRACTOR CHARTS ENDS-->
 <%- include('./calendar') %>
 <%- include('layouts/records_table')%>
 
 
 <p style="color: #666;">&copy;BrainWave 2024. All Right Reserved.</p>
 <%- include('layouts/noticeboard')%>
</div>
</main>

<script src="/js/dashboard.js"></script>
<%- include('layouts/footer')%>
