<%- include('layouts/header')%>
<link rel="stylesheet" href="/css/student.css" />
<style>
  .breadcrumb-item + .breadcrumb-item::before {
      content: " > ";
    }
    .breadcrumb{
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
    }
</style>
</head>
<body>
 <header>
  <%- include('layouts/sidebar')%>

 </header>
 <section class="h-100" style="background-color: #fff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <nav aria-label="breadcrumb" class="breadcrumb mt-2">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                     <a href="/">Home</a>
                    </li> 
                    <li class="breadcrumb-item">
                     <a href="/dashboard">Dashboard</a>
                    </li> 
                    <li class="breadcrumb-item active" aria-current="page">Role</li>
                  </ol>
                </nav>
                <div class="text-center">
                  <h4 class="mt-1 mb-3 pb-1">ROLE REGISTRATION</h4>
                </div>

                <form action="/role-registration" method="post" autocomplete="off">
                 
             
                 <div class="mb-4">
                     <label class="form-label" for="role">Role</label>
                     <input type="text" id="role" name="role" class="form-control" placeholder="e.g. Instructor" required />
                 </div>
             
                 <div class="text-center pt-1">
                     <button class="btn btn-primary btn-lg btn-block mb-3" type="submit" style="width: 100%;" id="student_btn">Add Role <i class="fa fa-arrow-right" id="right-arrow"></i></button>
                 </div>
             </form>
             

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center" style="background: linear-gradient(45deg, #ff416c, #ff4b2b);">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">ROLE REGISTRATION </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="" id="roles">
  <div class="records_container">
    <h5 style="text-align: center;">Role Records</h5>

    <div class="search mb-2" style="width: 50%; margin: 0 auto;" >
      <input class="search_input" type="text" id="" placeholder="Search (Ctrl + '/' to focus)">
    </div>
    <div style="text-align: center;">
  </div>

    
    <table class="table align-middle mb-0 bg-white" style="width: 70%; margin: 0 15pc; ">
      <thead>
        <tr>
          <th>No</th>
          <th>Role ID</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% roles.forEach((role, index) => { %> 
        <tr>
          <td><%= index + 1 %></td>
         
          <td> <%= role.role_id %> </td>
          <td> <%= role.role %> </td>
          
          <td><button class="btn btn-link btn-sm">
            <span>
              <i class="fa fa-pen"></i>
             </span> &nbsp;
             <span class="delete_btn" style="color: red; cursor: pointer;"><i class="fa fa-trash"></i></span>
            </button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%- include('layouts/footer')%>
